#services {
  padding: 0 var(--side-margin);
}
#services p,
th,
td {
  color: white;
}

#services__title {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#services__line {
  display: flex;
  width: 0%;
  height: 3px;
  background-color: var(--highlight);
}

#services__description {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#services__items__1,
#services__items__2,
#services__items__3,
#services__items__4 {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
}
