RewriteEngine On

# Allow only index.php to be accessed directly
RewriteCond %{REQUEST_URI} !^/backend/index\.php$
# Deny all other requests to files or folders inside backend/
RewriteRule ^.*$ - [F,L]

<IfModule mod_headers.c>
    # --- Content Security Policy ---
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' https://www.drwd.nl; style-src 'self'; frame-ancestors 'none';img-src 'self' data:;"

    # --- Anti-Clickjacking (legacy) ---
    Header always set X-Frame-Options "DENY"

    # --- Additional optional security headers ---
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>