#portfolio {
  margin: var(--large-padding) 0;
  padding: var(--large-padding) var(--side-margin);
}

#portfolio__title {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

.portfolio__item {
  position: relative;
  margin-bottom: var(--small-padding);
}

.portfolio__item__img {
  z-index: 1;
  width: 100%;

  border-radius: var(--radius);
}

.portfolio__item__card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  width: 100%;
  transform: translateY(-100%);
}

.portfolio__item__card__title {
  visibility: hidden;
  opacity: 0;
}

.portfolio__item__card__arrow {
  z-index: 2;
  position: relative;
  bottom: 0;
  right: 0;

  width: 30px;
  margin: var(--mini-padding);
  padding: var(--mini-padding) calc(var(--mini-padding) / 3);

  border: 3px solid var(--highlight);
  border-radius: var(--small-padding);

  /* transition: border 330ms ease-in-out;
  transition: background-color 330ms ease-in-out; */
}

.portfolio__item__card__title__arrow:hover {
  cursor: pointer;
  border: 3px solid var(--active);
  background-color: var(--active);

  /* transition: border 330ms ease-in-out;
  transition: background-color 330ms ease-in-out; */
}

.portfolio__item__card__text {
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  margin-top: 0;
}

#portfolio__load {
  display: flex;
  justify-content: center;
}
