/* General settings */
:root {
  --bg-grey: #e6e2de;
  --bg-black: #181716;
  --text-white: #ffffff;
  --text-black: #333333;
  --highlight: #06a0f6;
  --active: #ff5908;

  --p-small: 1rem;
  --p-size: 1.125rem;
  --p-highlight: 1.5rem;

  --mini-padding: 15px;
  --small-padding: 25px;
  --large-padding: 100px;

  --side-margin: 25px;

  --gap: 25px;
  --radius: 10px;
}

:root {
  background-color: var(--bg-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}

/* font-faces */
@font-face {
  font-family: "PP Cirka";
  src: url(./assets/fonts/PPCirka-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url(./assets/fonts/NeueHaasDisplay-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url(./assets/fonts/NeueHaasDisplay-Roman.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url(./assets/fonts/NeueHaasDisplay-Medium.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Site wide declarations */
/* Text */
h1 {
  font-family: "Neue Haas Grotesk Display Pro", Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: var(--text-black);
}

h1 span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
h1 span.highlight {
  font-family: "PP Cirka", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: var(--highlight);
}

@media (min-width: 0px) and (max-width: 370px) {
  h1 {
    font-size: 2rem;
  }
  h1 span.highlight {
    font-size: 2.4rem;
  }
}

h2 {
  font-family: "PP Cirka", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--highlight);
  display: flex;
  align-items: center;
  gap: var(--mini-padding);
  margin-top: 0;
}

h2 span {
  width: 4rem;
  height: 3px;
  background-color: var(--highlight);
}

h3 {
  font-family: "Neue Haas Grotesk Display Pro", Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  color: var(--text-black);
  margin: 0;
}

h4 {
  font-family: "Neue Haas Grotesk Display Pro", Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--highlight);
  margin: 0;
}

p,
td {
  font-family: "Neue Haas Grotesk Display Pro", Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: var(--p-size);
}

p:first-child {
  margin-top: 0;
}

p.highlight {
  font-size: var(--p-highlight);
}

p.bold {
  /* font-weight: 500; */
}

th {
  font-family: "Neue Haas Grotesk Display Pro", Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: var(--p-size);
}

a {
  font-family: "Neue Haas Grotesk Display Pro", Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: var(--p-size);
  color: var(--highlight);

  position: relative;
  text-decoration: none;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--active);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

label {
  font-family: "Neue Haas Grotesk Display Pro", Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: var(--p-small);
  display: inline-block;
}

/* UI elements */
.container {
  position: relative;
}

.error {
  color: var(--active);
  margin-bottom: 0.5em;
}

.error-submit {
  color: white;
  margin-bottom: 0.5em;
}

.success {
  color: green;
  margin-bottom: 1em;
}

.black-background {
  position: absolute;
  z-index: -1;

  height: 100%;
  width: calc(100vw + (2 * var(--small-padding)));
  margin-left: calc(-1 * var(--small-padding));
  margin-top: calc(-1 * var(--large-padding));
  padding: var(--large-padding) 0;

  background-color: var(--bg-black);

  border-radius: var(--radius);

  transform: rotate(4deg);
}

button {
  font-family: "Neue Haas Grotesk Display Pro", Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: var(--p-size);
  color: var(--text-white);

  padding: var(--mini-padding) var(--small-padding);
  background-color: var(--highlight);
  border: 0;
  border-radius: var(--radius);

  transition: transform 330ms ease-in-out;
}

button.primary:hover {
  cursor: pointer;

  color: var(--text-black);
  background-color: var(--active);

  transform: rotate(4deg);
  transition: transform 330ms ease-in-out;
}

button.secondary {
  color: var(--text-black);
  background-color: transparent;
}
button.secondary:last-child {
  padding-right: 0px;
}

button.secondary p {
  margin: 0;
  position: relative;
}

button.secondary:hover {
  cursor: pointer;
}

button.secondary p:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--active);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

button.secondary:hover p:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button.tertiary {
  display: flex;
  margin: var(--mini-padding) auto 0 auto;
  color: var(--text-black);
  background-color: var(--text-white);
}
button.tertiary:hover {
  cursor: pointer;

  color: var(--text-black);
  background-color: var(--active);

  transform: rotate(4deg);
  transition: transform 330ms ease-in-out;
}

table {
  margin-bottom: var(--small-padding);
}

table tr {
  text-align: left;
  vertical-align: text-top;
}

table tr th {
  width: 50%;
  padding-top: var(--small-padding);
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;

  margin-top: var(--mini-padding);
  padding: var(--mini-padding) var(--small-padding);
  border: 3px solid transparent;
  border-radius: var(--radius);

  font-family: "Neue Haas Grotesk Display Pro", Inter, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: var(--p-size);
}

input:focus,
textarea:focus {
  border: 3px solid black;
}

@media only screen and (min-width: 600px) {
  :root {
    --side-margin: 10%;
  }
}

/* @media only screen and (min-width: 800px) {
  :root {
    --side-margin: 10%;
  }
} */

@media only screen and (min-width: 1000px) {
  :root {
    --gap: 50px;
  }

  h1 {
    font-size: 4.8rem;
  }

  h1 span.highlight {
    font-size: 5.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --large-padding: 150px;
  }

  table tr th.no-padding-top {
    padding-top: 0;
  }
}

@media only screen and (min-width: 1400px) {
  h1 {
    font-size: 6rem;
  }

  h1 span.highlight {
    font-size: 6.9rem;
  }
}

@media only screen and (min-width: 1800px) {
  :root {
    --side-margin: 15%;

    --p-small: 1.125rem;
    --p-size: 1.5rem;
    --p-highlight: 2rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 2200px) {
  :root {
    --side-margin: 20%;
  }
}
