#footer {
  background-color: var(--bg-black);
  padding: var(--large-padding) var(--side-margin) var(--small-padding)
    var(--side-margin);
}

#footer__logo {
  width: 100%;
}

.footer__line {
  display: flex;
  width: 100%;
  height: 3px;
  background-color: var(--highlight);
  margin: var(--small-padding) 0;
}

#footer p {
  color: var(--text-white);
}

#footer__sm {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: var(--mini-padding);
  row-gap: var(--mini-padding);
}

#footer__sm a {
  display: flex;
  align-items: center;
  gap: var(--mini-padding);
  padding: var(--mini-padding);
  border-radius: var(--radius);
  border: 3px solid var(--highlight);
}

#footer__sm a:after {
  width: 0;
  height: 0;
}

#footer__box a:hover {
  background-color: var(--highlight);
  cursor: pointer;
}

#footer__sm a img {
  height: 24px;
}

#footer__sm a p {
  margin: 0;
}

#footer__contact {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: var(--mini-padding);
  row-gap: var(--mini-padding);
}

#footer__contact a {
  display: inline-block;
  padding: var(--mini-padding);
  border-radius: var(--radius);
  border: 3px solid var(--highlight);
}

#footer__contact a img {
  height: 24px;
  margin-bottom: calc(var(--large-padding) / 2);
}

#footer__contact a p {
  margin: 0;
}

#footer__contact a:after {
  width: 0;
  height: 0;
}

#footer__info a {
  font-size: var(--p-small);
  /* color: var(--text-white); */
}

#footer__mobile a:hover,
#footer__desktop a:hover {
  cursor: pointer;
}

#footer__info p {
  font-size: var(--p-small);
}

#footer__credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer__credits p {
  margin: 0;
}

#footer__credits img {
  height: 3rem;
}

#footer__desktop {
  display: none;
}

@media only screen and (min-width: 1200px) {
  #footer {
    border-radius: var(--radius) var(--radius) 0px 0px;
    padding: var(--small-padding) var(--small-padding) var(--small-padding)
      var(--small-padding);
    margin: var(--large-padding) var(--side-margin) 0px var(--side-margin);
  }

  #footer__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: var(--gap);
  }

  #footer__line {
    display: none;
  }

  #footer__mobile {
    display: none;
  }

  #footer__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #footer__desktop p {
    margin: 0;
  }

  #footer__desktop img {
    height: 3rem;
  }
}
