#contact {
  margin: var(--large-padding) 0 0 0;
  padding: var(--large-padding) var(--side-margin);
}

#contact__description {
  padding-bottom: var(--small-padding);
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#contact__description span {
  font-family: "PP Cirka", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  color: var(--highlight);
}

#contact__image {
  z-index: 3;
  position: relative;
  display: flex;
  margin: var(--small-padding) auto calc(-1 * var(--large-padding)) auto;
  max-height: 30vh;
  border-radius: var(--radius);
  transform: rotate(4deg);
}

#contact__modal {
  z-index: 1;
  position: relative;

  background-color: var(--highlight);
  padding: var(--large-padding) var(--small-padding) var(--small-padding)
    var(--small-padding);
  border-radius: var(--radius);
}

#contact__modal__title {
  color: var(--text-white);
  margin-top: 0.83em;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#contact__modal__title span {
  background-color: var(--text-white);
}

@media only screen and (min-width: 600px) {
  #contact__description span {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 800px) {
  #contact {
    padding: var(--large-padding) calc(2 * var(--side-margin));
  }

  #contact__description {
    padding: 0 var(--side-margin) var(--small-padding) var(--side-margin);
  }
}

@media only screen and (min-width: 1200px) {
  #contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap);

    margin: var(--large-padding) 0 0 0;
    padding: var(--large-padding) calc(2 * var(--side-margin));
  }

  #contact__description {
    padding: 0 0 var(--small-padding) 0;
  }

  #contact__modal {
    padding: var(--small-padding) var(--small-padding);
  }
}
