#hero__title {
  display: flex;
  align-items: center;

  min-height: 50vh;
  margin: 0px var(--small-padding);
  padding-top: 60px;
}

#hero__image {
  position: relative;
  z-index: 1;
  aspect-ratio: 1;
  max-width: 100vw;

  background-image: url(../../images/hero__mobile.webp);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: var(--radius);

  transform: rotate(-4deg);
}

#hero__description {
  position: relative;
  z-index: 1;
  padding: var(--large-padding) var(--small-padding) 0 var(--small-padding);

  color: var(--text-white);
}

#hero__description__p1,
#hero__description__p2,
#hero__description__p3 {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}
