#hero__title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(100% - 2 * var(--side-margin));
  height: 50vh;
  min-height: 400px;
  margin: 0px var(--side-margin);
  padding-top: 60px;
}

#hero__title .second-span {
  width: 100%;
  text-align: right;
}

#hero__image {
  position: relative;
  z-index: 1;
  aspect-ratio: 1;
  max-width: 100vw;

  background-image: url(../../images/hero__mobile.webp);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: var(--radius);

  transform: rotate(-4deg);
}

#hero__description {
  position: relative;
  z-index: 1;
  padding: var(--large-padding) var(--side-margin) 0 var(--side-margin);

  color: var(--text-white);
}

#hero__description__p1,
#hero__description__p2,
#hero__description__p3 {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

@media only screen and (min-width: 600px) {
  #hero__title {
    min-height: 500px;
    width: calc(100% - 4 * var(--side-margin));
    margin: 0px calc(2 * var(--side-margin));
  }

  .third-span {
    padding-left: var(--side-margin);
  }

  #hero__image {
    aspect-ratio: 16/9;
    background-image: url(../../images/hero__desktop.jpg);
    margin: 0 var(--side-margin);
  }

  #hero__description {
    display: flex;
    gap: var(--gap);
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
  }

  #hero__description__p1 {
    max-width: 50%;
  }

  #hero__description__p1,
  #hero__description__p2,
  #hero__description__p3 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (min-width: 800px) {
}

@media only screen and (min-width: 1000px) {
}

@media only screen and (min-width: 1200px) {
  #hero__title {
    min-height: 600px;
  }

  #hero__description {
    padding: var(--large-padding) calc(2 * var(--side-margin)) 0
      calc(2 * var(--side-margin));
  }
}

@media only screen and (min-width: 1400px) {
}
